process {   
  
 withName: WINDOWS {  
        memory = { 8.GB }
        publishDir = [
            path: { "${params.outdir}/windows/" },
            mode: 'copy'
        ]
    }

     withName: COLOC {  
        memory = { 48.GB }
        publishDir = [
            path: { "${params.outdir}/coloc/" },
            mode: 'copy'
        ]
    }
   
}